@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: url("../fonts/roboto-condensed/RobotoCondensed-BoldItalic.eot");
  src: local("Roboto Condensed BoldItalic"), local("RobotoCondensed-BoldItalic"),
    url("../fonts/roboto-condensed/RobotoCondensed-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-condensed/RobotoCondensed-BoldItalic.woff")
      format("woff"),
    url("../fonts/roboto-condensed/RobotoCondensed-BoldItalic.ttf")
      format("truetype"),
    url("../fonts/roboto-condensed/RobotoCondensed-BoldItalic.svg#Roboto")
      format("svg");
}

@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/roboto-condensed/RobotoCondensed-LightItalic.eot");
  src: local("Roboto Condensed LightItalic"),
    local("RobotoCondensed-LightItalic"),
    url("../fonts/roboto-condensed/RobotoCondensed-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-condensed/RobotoCondensed-LightItalic.woff")
      format("woff"),
    url("../fonts/roboto-condensed/RobotoCondensed-LightItalic.ttf")
      format("truetype"),
    url("../fonts/roboto-condensed/RobotoCondensed-LightItalic.svg#Roboto")
      format("svg");
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../fonts/roboto-condensed/RobotoCondensed-Bold.eot");
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
    url("../fonts/roboto-condensed/RobotoCondensed-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-condensed/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/roboto-condensed/RobotoCondensed-Bold.ttf") format("truetype"),
    url("../fonts/roboto-condensed/RobotoCondensed-Bold.svg#Roboto")
      format("svg");
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/roboto-condensed/RobotoCondensed-Regular.eot");
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"),
    url("../fonts/roboto-condensed/RobotoCondensed-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-condensed/RobotoCondensed-Regular.woff2")
      format("woff2"),
    url("../fonts/roboto-condensed/RobotoCondensed-Regular.ttf")
      format("truetype"),
    url("../fonts/roboto-condensed/RobotoCondensed-Regular.svg#Roboto")
      format("svg");
}

@font-face {
  font-family: "RobotoCondensed-RegularItalic";
  src: url("../fonts/roboto-condensed/RobotoCondensed-RegularItalic.eot");
  src: local("Roboto Condensed RegularItalic"),
    local("RobotoCondensed-RegularItalic"),
    url("../fonts/roboto-condensed/RobotoCondensed-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-condensed/RobotoCondensed-RegularItalic.woff")
      format("woff"),
    url("../fonts/roboto-condensed/RobotoCondensed-RegularItalic.ttf")
      format("truetype"),
    url("../fonts/roboto-condensed/RobotoCondensed-RegularItalic.svg#Roboto")
      format("svg");
}

@font-face {
  font-family: "DecathlonConcept";
  src: url("../fonts/decathlon-concept/DecathlonConcept.eot");
  src: url("../fonts/decathlon-concept/DecathlonConcept.eot?#iefix")
      format("eot"),
    url("../fonts/decathlon-concept/DecathlonConcept.woff") format("woff"),
    url("../fonts/decathlon-concept/DecathlonConcept.ttf") format("truetype"),
    url("../fonts/decathlon-concept/DecathlonConcept.svg#DecathlonConcept")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DecathlonCube";
  src: url("../webfonts/DecathlonCube.eot?v=1510584600");
  src: url("../webfonts/DecathlonCube.eot#iefix?v=1510584600")
      format("embedded-opentype"),
    url("../webfonts/DecathlonCube.woff2?v=1510584600") format("woff2"),
    url("../webfonts/DecathlonCube.woff?v=1510584600") format("woff"),
    url("../webfonts/DecathlonCube.ttf?v=1510584600") format("truetype"),
    url("../webfonts/DecathlonCube.svg#DecathlonCube?v=1510584600")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.cube-icon,
.icon {
  font-family: "DecathlonCube" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  zoom: 1;
}

.icon:before {
  font-family: "DecathlonCube";
  text-align: center;
}

.icon-user:before {
  content: "\E001";
}

.icon-cart:before {
  content: "\E002";
}

.icon-search:before {
  content: "\E003";
}

.icon-pin:before {
  content: "\E004";
}

.icon-pin-small:before {
  content: "\E005";
}

.icon-arrow1-l:before {
  content: "\E006";
}

.icon-arrow1-r:before {
  content: "\E007";
}

.icon-arrow1-u:before {
  content: "\E008";
}

.icon-arrow1-d:before {
  content: "\E009";
}

.icon-arrow2-l:before {
  content: "\E00A";
}

.icon-arrow2-r:before {
  content: "\E00B";
}

.icon-arrow2-u:before {
  content: "\E00C";
}

.icon-arrow2-d:before {
  content: "\E00D";
}

.icon-arrow3-l:before {
  content: "\E00E";
}

.icon-arrow3-r:before {
  content: "\E00F";
}

.icon-arrow4-l:before {
  content: "\E010";
}

.icon-arrow4-r:before {
  content: "\E011";
}

.icon-arrow5-l:before {
  content: "\E012";
}

.icon-arrow5-r:before {
  content: "\E013";
}

.icon-x-roll:before {
  content: "\E014";
}

.icon-ok-roll:before {
  content: "\E015";
}

.icon-minus-roll:before {
  content: "\E016";
}

.icon-plus-roll:before {
  content: "\E017";
}

.icon-heart-roll:before {
  content: "\E018";
}

.icon-mail-roll:before {
  content: "\E019";
}

.icon-i-roll:before {
  content: "\E01A";
}

.icon-help-roll:before {
  content: "\E01B";
}

.icon-alert-roll:before {
  content: "\E01C";
}

.icon-x-line:before {
  content: "\E01D";
}

.icon-ok-line:before {
  content: "\E01E";
}

.icon-minus-line:before {
  content: "\E01F";
}

.icon-plus-line:before {
  content: "\E020";
}

.icon-heart-line:before {
  content: "\E021";
}

.icon-mail-line:before {
  content: "\E022";
}

.icon-i-line:before {
  content: "\E023";
}

.icon-help-line:before {
  content: "\E024";
}

.icon-alert-line:before {
  content: "\E025";
}

.icon-x:before {
  content: "\E026";
}

.icon-ok:before {
  content: "\E027";
}

.icon-minus:before {
  content: "\E028";
}

.icon-plus:before {
  content: "\E029";
}

.icon-heart:before {
  content: "\E02A";
}

.icon-mail:before {
  content: "\E02B";
}

.icon-i:before {
  content: "\E02C";
}

.icon-help:before {
  content: "\E02D";
}

.icon-alert:before {
  content: "\E02E";
}

.icon-facebook1:before {
  content: "\E02F";
}

.icon-twitter1:before {
  content: "\E030";
}

.icon-youtube1:before {
  content: "\E031";
}

.icon-google1:before {
  content: "\E032";
}

.icon-pinterest1:before {
  content: "\E033";
}

.icon-facebook2:before {
  content: "\E034";
}

.icon-twitter2:before {
  content: "\E035";
}

.icon-youtube2:before {
  content: "\E036";
}

.icon-google2:before {
  content: "\E037";
}

.icon-pinterest2:before {
  content: "\E038";
}

.icon-mail-large:before {
  content: "\E039";
}

.icon-basket:before {
  content: "\E03A";
}

.icon-close:before {
  content: "\E03B";
}

.icon-play:before {
  content: "\E03C";
}

.icon-pause:before {
  content: "\E03D";
}

.icon-replay:before {
  content: "\E03E";
}

.icon-picture:before {
  content: "\E03F";
}

.icon-photo:before {
  content: "\E040";
}

.icon-movie:before {
  content: "\E041";
}

.icon-music:before {
  content: "\E042";
}

.icon-checkbox-off:before {
  content: "\E043";
}

.icon-checkbox-on:before {
  content: "\E044";
}

.icon-radio-off:before {
  content: "\E045";
}

.icon-radio-on:before {
  content: "\E046";
}

.icon-sliderbtn:before {
  content: "\E047";
}

.icon-sliderdot:before {
  content: "\E048";
}

.icon-check:before {
  content: "\E049";
}

.icon-compare:before {
  content: "\E04A";
}

.icon-star:before {
  content: "\E04B";
}

.icon-dropdown:before {
  content: "\E04C";
}

.icon-lock:before {
  content: "\E04D";
}

.icon-box-decathlon:before {
  content: "\E04E";
}

.icon-gift:before {
  content: "\E04F";
}

.icon-exchange1:before {
  content: "\E050";
}

.icon-stamp:before {
  content: "\E051";
}

.icon-quality-check:before {
  content: "\E052";
}

.icon-label:before {
  content: "\E053";
}

.icon-talk:before {
  content: "\E054";
}

.icon-exchange2:before {
  content: "\E055";
}

.icon-delivery-home:before {
  content: "\E056";
}

.icon-delivery-store:before {
  content: "\E057";
}

.icon-delivery-box:before {
  content: "\E058";
}

.icon-loan:before {
  content: "\E059";
}

.icon-payment:before {
  content: "\E05A";
}

.icon-secure-payment:before {
  content: "\E05B";
}

.icon-store:before {
  content: "\E05C";
}

.icon-desktop:before {
  content: "\E05D";
}

.icon-tablet:before {
  content: "\E05E";
}

.icon-mobile:before {
  content: "\E05F";
}

.icon-decathlon:before {
  content: "\E060";
}

.icon-menu:before {
  content: "\E061";
}

.icon-technical-rate:before {
  content: "\E062";
}

.icon-technical-rate-line:before {
  content: "\E063";
}

.icon-unhappy:before {
  content: "\E064";
}

.icon-happy:before {
  content: "\E065";
}

.icon-product-slider-l:before {
  content: "\E066";
}

.icon-product-slider-r:before {
  content: "\E067";
}

.icon-scroll-up:before {
  content: "\E068";
}

.icon-scroll-down:before {
  content: "\E069";
}

.icon-close-btn:before {
  content: "\E06A";
}

.icon-notification:before {
  content: "\E06B";
}

.icon-contact-mail:before {
  content: "\E06C";
}

.icon-contact-phone:before {
  content: "\E06D";
}

.icon-contact-chat:before {
  content: "\E06E";
}

.icon-chrono:before {
  content: "\E06F";
}

.icon-house:before {
  content: "\E070";
}

.icon-star-line:before {
  content: "\E071";
}

.icon-360:before {
  content: "\E072";
}

.icon-checkbox:before {
  content: "\E073";
}

.icon-workshop:before {
  content: "\E074";
}

.icon-thumb-up:before {
  content: "\E075";
}

.icon-thumb-down:before {
  content: "\E076";
}

.icon-xpress-payment:before {
  content: "\E077";
}

.icon-filter:before {
  content: "\E078";
}

.icon-express-payment:before {
  content: "\E079";
}

.icon-sat-1:before {
  content: "\E07A";
}

.icon-sat-2:before {
  content: "\E07B";
}

.icon-sat-3:before {
  content: "\E07C";
}

.icon-filters:before {
  content: "\E07D";
}

.icon-sat-4:before {
  content: "\E07E";
}

.icon-sat-5:before {
  content: "\E07F";
}

.icon-equal-roll:before {
  content: "\E080";
}

.icon-bundle-edit:before {
  content: "\E081";
}

.icon-pen:before {
  content: "\E082";
}

.icon-sandglass:before {
  content: "\E083";
}

.icon-soccer:before {
  content: "\E084";
}

.icon-wallet:before {
  content: "\E085";
}

.icon-screen:before {
  content: "\E086";
}

.icon-printer:before {
  content: "\E087";
}

.icon-pickup:before {
  content: "\E088";
}

.icon-send-file:before {
  content: "\E089";
}

.icon-print:before {
  content: "\E08A";
}

.icon-eye:before {
  content: "\E08B";
}

.icon-eye-closed:before {
  content: "\E08C";
}

.icon-sizemeter:before {
  content: "\E08D";
}

.icon-b2b-icon:before {
  content: "\E08E";
}

.icon-logout:before {
  content: "\E08F";
}

.icon-play-2:before {
  content: "\E090";
}

.icon-pause-2:before {
  content: "\E091";
}

.icon-volume-1:before {
  content: "\E092";
}

.icon-volume-2:before {
  content: "\E093";
}

.icon-volume-3:before {
  content: "\E094";
}

.icon-volume-4:before {
  content: "\E095";
}

.icon-fullscreen:before {
  content: "\E096";
}

.icon-qaa:before {
  content: "\E097";
}

.icon-click-collect-1h:before {
  content: "\E098";
}

.icon-trash:before {
  content: "\E099";
}
